base(href='/')
meta(charset='utf-8')

// Angular material style
link(rel="stylesheet" href="lib/angular-material/angular-material.min.css")
link(rel='stylesheet' href="lib/font-awesome/css/font-awesome.min.css")
link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
link(rel='stylesheet' type='text/css' href='css/app.css')

// Angular material javascript dependencies
script(src="lib/angular/angular.min.js")
script(src="lib/angular-animate/angular-animate.min.js")
script(src="lib/angular-ui-router/release/angular-ui-router.min.js")
script(src="lib/angular-material-data-table/dist/md-data-table.min.js")
script(src="lib/angular-route/angular-route.min.js")
script(src="lib/angular-resource/angular-resource.min.js")
script(src="lib/angular-aria/angular-aria.min.js")
script(src="lib/angular-material/angular-material.min.js")

link(href="lib/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css")

// custom scripts
script(src="js/application.js")
title searchApp
